* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 0px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 100px;
}

.button-o {
  background-color: transparent;
  border: 2px solid #507fe1;
  color: #507fe1;
  font-size: 14px;
  text-transform: uppercase;
  padding: 17px 22px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button-o:hover {
  cursor: pointer;
}

.button {
  padding: 25px 45px;
  border: none;
  background-color: #507fe1;
  color: white;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .section-title {
    font-size: 24px;
  }
  .section {
    padding: 60px 0;
  }
}

.bg-secundary {
  background-color: #f1f1f1;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 80px;
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  border-top: none;
  border-bottom: none;
}

.menu__button:hover {
  cursor: pointer;
}

.menu__button:focus {
  outline: none;
}

.menu__button:active {
  background-color: rgba(255, 255, 0, 0.281);
}

.menubutton__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px;
}

.menu {
  width: 100%;
  position: fixed;
  top: 80px;
  padding: 16px 0;
  background-color: #507fe1;
  z-index: 0;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.menu__active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.logo__text {
  display: block;
  font-size: 18px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 5px;
}

.logo__description {
  display: block;
  font-size: 14px;
  color: #6b6b6b;
}

.navbar__mobile {
  text-align: right;
}

.navbar__phone {
  display: block;
  text-decoration: none;
  font-size: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #262626;
  margin-bottom: 2px;
}

.small__text {
  font-size: 14px;
  color: #7b7b79;
}

.navbar__email {
  text-decoration: none;
}

@media (max-width: 991px) {
  .navbar__mobile {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbar__wrap {
    min-height: 80px;
  }
  .logo {
    display: none;
  }
  .menu__button {
    height: 80px;
  }
  .menu {
    top: 80px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 100px;
}

.button-o {
  background-color: transparent;
  border: 2px solid #507fe1;
  color: #507fe1;
  font-size: 14px;
  text-transform: uppercase;
  padding: 17px 22px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button-o:hover {
  cursor: pointer;
}

.button {
  padding: 25px 45px;
  border: none;
  background-color: #507fe1;
  color: white;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .section-title {
    font-size: 24px;
  }
  .section {
    padding: 60px 0;
  }
}

.bg-secundary {
  background-color: #f1f1f1;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hero {
  background: #f1f1f1 url("../img/hero/heroBack.jpg") no-repeat center;
  background-size: cover;
  padding: 100px 0;
  padding-top: 180px;
  padding-bottom: 260px;
}

.hero__title {
  font-size: 40px;
  color: white;
  font-family: 'Proxima Nova Semibold', sans-serif;
  background-color: rgba(104, 102, 102, 0.582);
  border: 6px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 20px;
  width: 340px;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    width: 100%;
  }
  .hero__title {
    font-size: 28px;
    width: 250px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.offer {
  padding: 100px 0;
}

.offer-block {
  background: #fff url("../img/form/formbg.webp") center right -600px no-repeat;
  padding: 80px;
  margin-top: -200px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 20px;
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.offer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
}

.form__label {
  display: block;
  font-size: 22px;
  margin-bottom: 15px;
}

.input {
  height: 80px;
  width: 100%;
  padding: 25px 45px;
}

.form__group {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.form__button {
  height: 80px;
  margin-top: 40px;
  width: 33.33%;
}

@media (max-width: 1199px) {
  .offer__block {
    background-position: center right -720px;
  }
}

@media (max-width: 768px) {
  .offer__block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .offer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__title {
    font-size: 22px;
  }
  .offer__subtitle {
    font-size: 18px;
  }
  .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .form__button {
    width: 100%;
    font-size: 14px;
    padding: 10px 20px;
  }
  .input {
    padding: 10px 20px;
  }
  .form__input {
    margin-bottom: 20px;
  }
}

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-block__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
}

@media (max-width: 991px) {
  .feature-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 60px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.blog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.blog__title {
  font-size: 24px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.blog__link-more {
  color: #507fe1;
  font-size: 16px;
}

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blog-list__image {
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.blog-list__image img {
  width: 100%;
  height: 100%;
}

.blog-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.blog__card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  margin: 0 20px;
  margin-bottom: 20px;
  background-color: #fff;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.blog-list__card {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .blog__card {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .blog__card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 15px;
    margin-bottom: 30px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.step:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  display: block;
  position: absolute;
  top: 20%;
  right: -100%;
}

.step:last-child:after {
  display: none;
}

.step__text {
  max-width: 160px;
  text-align: center;
}

.step-title {
  font-size: 20px;
}

.step__image {
  width: 80px;
  height: 80px;
}

@media (max-width: 1199px) {
  .step:after {
    width: 80%;
    right: -75%;
  }
}

@media (max-width: 991px) {
  .step:after {
    display: none;
  }
  .step {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.reviews-slider__image {
  margin: 20px auto;
  display: block;
  height: 70px;
  width: 70px;
  border: 2px solid #6a99e9;
  border-radius: 50%;
}

.reviews-slider__text {
  margin: 0 auto;
  max-width: 370px;
  padding: 20px;
  font-size: 15px;
  font-style: italic;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
}

.reviews-slider__text:after {
  content: '';
  background-color: #fff;
  position: absolute;
  -webkit-transform: translateX(-480%);
          transform: translateX(-480%);
  bottom: -30px;
  border: 15px solid #f1f1f1;
  border-top: 15px solid #fff;
}

@media (max-width: 768px) {
  .reviews-slider__text:after {
    -webkit-transform: translateX(-275%);
            transform: translateX(-275%);
  }
}

@media (max-width: 425px) {
  .reviews-slider__text:after {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
}

.factory-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.factory-block__text {
  font-size: 14px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.factory-block__image img {
  width: 350px;
  height: 250px;
}

.factory-block__image {
  margin: 20px;
}

.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-block__item {
  text-align: center;
}

.contact-block__image {
  margin-bottom: 10px;
}

.contact-block__text {
  font-size: 16px;
}

.contact-block__link {
  text-decoration: none;
  color: #262626;
}

@media (max-width: 768px) {
  .contact-block__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.questions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vh;
  margin: auto;
}

.questions-block__title {
  padding-left: 40px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 30px;
}

.questions-block__link {
  padding-left: 25px;
  font-size: 24px;
  color: #507fe1;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.footer {
  padding: 40px 0;
  background-color: #262626;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social a {
  margin-left: 15px;
}

.social__image {
  width: 25px;
  height: 25px;
}

.footer__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  text-align: right;
}

.footer__phone {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer__email {
  display: block;
  margin-bottom: 20px;
}

.footer__title {
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 8px;
}

.footer__subtitle {
  display: block;
  margin-bottom: 48px;
}

.footer__description {
  color: #ffffff;
}

.footer__copy {
  color: #767676;
}

.footer-pay__image {
  width: 80px;
  height: 40px;
  margin: 0 10px;
}

.footer-pay__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__contacts {
    text-align: center;
    margin-top: 30px;
  }
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-pay__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
