@import '../fonts';

.blog__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.blog__title {
    font-size: 24px;
    @include bold;
}

.blog__link-more {
    color: $primary;
    font-size: 16px;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-list__image {
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.blog-list__image img {
    width: 100%;
    height: 100%;
    
}

.blog-list__text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px; 
}

.blog__card {
    box-shadow: 0 5px 10px rgba(0,0,0,0.08);
    margin: 0 20px;
    margin-bottom: 20px;
    background-color: #fff;
    flex-basis: 35%;
}

.blog-list__card {
    margin-bottom: 30px;
}

@media (max-width: 1199px) {
    .blog__card {
        flex-basis: 50%;
        margin: 0 15px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .blog__card {
        flex-basis: 100%;
        margin: 0 15px;
        margin-bottom: 30px;
    }
}
