

 .factory-block {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 .factory-block__text {
     font-size: 14px;
     flex-basis:  50%;
 }

 .factory-block__image img {
     width: 350px;
     height: 250px;
 }

 .factory-block__image {
     margin: 20px; 
 }
